main h1 
    {
        font-size: 36px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: gray;
    }
.margin-bottom 
    {
        margin-bottom: 27px;
    }
main
    {
        margin: 0px;
        max-width: 720px;
        padding: 13px 26px;
        font-size: 23px;  
        text-align: center;
    }

.highlight 
    {
    border-radius: 4px;
    border: 1px solid sienna;
    }

.links
    {
        padding-left: 33px;
    }

main li 
    {
       font-family: Verdana, Geneva, Tahoma, sans-serif;
    }